*todel.*
*~
*.png
*.Rdata
howToMakeAPolynomialReg.R
testing.R
*03_baits51_CNVpaper
*oldStuff/*
*03.1_PropSeq_CNVpaper_test.R
*.log
*.pdf
result_*.csv
*~lock.*
*.xls
GLM*.txt
result_*.txt
StackOverf_MuMin-Multinom_cplte.txt
TableS*.csv
StackOverf_dredgeInScript_1.R
*.log
Res_*
